{{define "content"}}
	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<!-- Index Page -->

	<div class="container animated fadeIn">
		<div class="row">
			<div class="col-md-12">
				// TODO - Encapsulate in group of requests(Queues)
				<div class="panel-group" id="accordion">
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				          Firewall Request - --mongo_id-- <span class="label label-danger" style="float: right">New</span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse">
				      <div class="panel-body">
				      	This is where the Firewall Request Data will go...
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				          Firewall Request - --mongo_id--
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse">
				      <div class="panel-body">
				      	This is where the secondFirewall Request Data will go...
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
		<!-- row -->
	</div><!-- container -->
{{end}}
