{{define "content"}}
	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<!-- Index Page -->

	<div class="container animated fadeIn">
		<div class="row">
			<div class="col-md-4">
				<blockquote style="margin-top: 60px">
					<p>“Firewall Requests should be simple.”</p>
					<cite>-Everyone</cite>
				</blockquote>
			</div>
			<div class="col-md-8">
				<img src="static/images/filter.gif" width="550" height="325" align="center">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr />
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<h3>What is this?</h3>
					<p>I decided to make the Firewall Request Process a little more . . . <u>Simple</u>. 
						<br><br>
						(About damn time, right?) Thus this is a new pilot system for making firewall requests, having them approved by security, and Implemented by networking. 
						<br><br>
						Let us know how it goes . . .
					</p>
			</div>
			<div class="col-md-4">
				<h3>How does it work?</h3>
					<ul class="square">
						<li>
							<strong>1)  <a href="req">Make a Request</a></strong>: Fill out our nifty new form . . . Its <a href="req">easy</a>!
						</li>
						<li>
							<strong>2)  <a href="status">Security Approval</a></strong>: We'll check it out, in the mean time you can check your request's <a href="status">status</a>.
						</li>
						<li>
							<strong>3)  <a href="status">Implementation Queue</a></strong>: This is where we kick it over to networking for implementation.
						</li>
						<li>
							<strong>4)  <a href="status">All Done!</a></strong>: You're all set! Go forth an conqueror!
						</li>
					</ul>
			</div>
			<div class="col-md-4">
				<h3>I have a . . . ?</h3>
					<ul class="square">
						<li> 
							<strong><a href="mailto:HQ-IT-Security-Engineering-DG@gap.com">Question</a></strong> - Great! We've got answers!
						</li>
						<li> 
							<strong><a href="https://github.com/f47h3r/">Bug I'd like to Report</a></strong> - Awesome! Nice Find, why not report it <a href="https://github.com/f47h3r/">Here</a>!
						</li>
						<li> 
							<strong><u>Bunch of Snacks!</u></strong> - You can find hungry security personel on the 6th floor of the Mission Bay Office... ;) 
						</li>
						<li> 
							<strong><a href="https://github.com/f47h3r/">Feature Request</a></strong> - Cool ! Drop us an Issue <a href="https://github.com/f47h3r/">Github</a>!
						</li>
					</ul>
			</div>
		</div>
		<!-- row -->
	</div><!-- container -->
{{end}}
