{{define "content"}}

	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<!-- Index Page -->
	<div class="container animated fadeIn">
		<div class="row">
			<div class="col-md-4">
				<blockquote>
					<p>“Our virtues and our failings are inseparable, like force and matter. When they separate, man is no more.”</p>
					<cite>Nikola Tesla</cite>
				</blockquote>
			</div>
			<div class="col-md-4">
				<img src="static/images/tesla.jpg" width="550" height="325" align="center">
			</div>
	</div><!-- container -->

{{end}}
